<h2 mat-dialog-title>Canviar rol</h2>
<mat-dialog-content>
  <div class="row">
    <mat-form-field class="col-md-12">
      <mat-select [(ngModel)]="selectValue">
        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-100">
    <button mat-button (click)="cancelAction()" class="base-button cancel-color">Cancel·lar</button>
    <button mat-button (click)="confirmAction()" class="base-button" style="float: right;">Confirmar</button>
  </div>
</mat-dialog-actions>
