
nav {
  background-color: #ff690f !important;
}

.icon-size {
  font-size: 1rem;
}

.icon-span {
  padding-right: 0.5rem;
}

.sortir-span {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding-right: 2rem;
}
