.mt-10rem {
    margin-top: 10rem;
}

.log-div > div {
    padding: 2rem;
    border-radius: 5px;
}

.all-logs {
    background-color: #3b99eb;
}

.info-logs {
    background-color: #1fbb72;
}

.warn-logs {
    background-color: #ffc04d;
}

.error-logs {
    background-color: #e13838;
}