th {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

td {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.td-title {
  font-weight: bold;
}

img {
  max-width: 50px;
  max-height: 100%;
  height: auto;
}
