.icon-span {
  padding-right: 1rem;
}

.options {
  text-align: center;
  padding-top: 20rem;
}

.btn-option {
  background-color: #ff690f;
  border: 0px;
  padding: 2rem 4rem;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
}
